.App {
  text-align: center;
}

.App-logo {
  height: 70px;
}

.App-header {
  background-color: #f5793B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-turn{
  margin-right: 30px;
  color:aliceblue;
  width: 120px;
  background-color: #f5793B;
}

.cardHome{
  height: 500px;
  background-color: aliceblue;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cardP{
  margin-top: 20px;
  width: 900px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.inputPers{
  margin-top: 5%;
  width: 100%;
  margin-bottom: 5%;
}

.formPers{
  background-color: rgb(255, 255, 255);
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.confirm-turn{
  color:aliceblue;
  background-color: #f5793B;
  margin-bottom: 5%;
}

.hour-button{
  margin-left: 2%;
  margin-bottom: 10%;
  margin-top: 2%;
}

.newForm{
  align-items: center;
}